################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/VendingMachine/bin/Debug/netcoreapp2.2
/VendingMachine/node_modules
/VendingMachine/obj
