<nav class="navbar is-white shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text"
               href="../">
                Торговый автомат
            </a>
        </div>
    </div>
</nav>
